header{
    width: 100%;
}
.principal{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.container1{
    margin: 0 auto;
}
 .container1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.img-content{
    margin: 0 auto;
}

.principal img{
        width: 5em;
        height: auto;
        margin-right: 1em;
}

header .container1 h1{
    margin: 0 auto;
}

.container-form{
    width: 70%;
    margin-top: 2em !important;
  border: 1px solid black;
    border-radius: 5px;
    margin: 0 auto;
}

.school{
    font-size: 2.5em;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.footer{
    padding-top: 20px;
    margin-top: 2em !important;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    background: #77dd77;
}


.footer p{
    margin-left: 10px;
}
footer .container img{
    width: 8em;
    height: auto;
}

footer .container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.cont-img{
    width: 9em;
    margin: 0 auto;
}

.cont-text{
    width: 30em;
    margin: 0 auto;
}
.color1{
    background: rgb(1, 1, 103);
}

.color2{
    background: rgb(2, 2, 207);
}

footer{
    bottom: 0;
}

@media only screen and (max-width: 500px) { /*Quitar la imagen cuando la pantalla sea menor a 500px*/
    .principal img{
        display: none;
}
  }